.text-center{
    color:#575757;
    margin:auto;
    padding:0;
 }
 .container1{
 background-color:#E5DDC2;
 padding:15px;
 }
 
 .container2{
 background-color:#D8D6C7;
 padding:15px;
 }
 
 .logo{
 display:flex;
 justify-content:center;
 background: #EBE9E9;
 margin: auto
 }
 
 .icons{
 display:flex;
 justify-content:space-evenly;
 background: #EBE9E9;
 margin: auto;
 color:black;
 }
 
 h2{
 display:flex;
 justify-content:center;
 background: #EBE9E9;
 margin: auto;
 font-size:30;
 font-family: 'Italiana', serif;
 padding:5px;
 }
 
 img{
 height: 150px;
 width: 150px;
 }
 
 .nav-item a{
 color:black !important; 
 }
 

 .navigator{
    background-color: #E0E0E0;
    margin:auto;
 
 }
 
 .navigation{
    background-color: #E0E0E0;
    cursor: auto;
 }
 
 .empty2{
    background-color: #E0E0E0;
 }

 .icons2{
    display:flex;
    justify-content:space-evenly;
    align-items: baseline;
    background-color: #E0E0E0;
    color:black;
 
 }
 .test4{
 background-color: #E0E0E0;
 }
 
 .hero{
    display:flex;
    justify-content:center;
    margin:auto;
    width:1000px;
    height:700px;
 }
 
 .dress1{
 height:500px;
 width:800px;
 }
 .dress2{
 height:500px;
 width:800px;
 }
 .dress3{
 height:1000px;
 width:650px;
 }
 
 .dress4{
 height:1000px;
 width:800px;
 }
 
 .dress5{
 height:500px;
 width:650px;
 }
 
 .dress6{
 height:500px;
 width:650px;
 }
 
 #title1{
 display:flex;
 justify-content:center;
 background-color: #E5DDc2;
 margin: auto;
 font-size:40;
 }

 #title2{
    display:flex;
    justify-content:center;
    background-color:#D8D6C7;
    margin: auto;
    font-size:40;
    }
 
  .footer{
   background-color: #EBE9E9;
   margin: auto;
  }
 
 
 .links1{
     font-size:10;
     color:black;
     background-color:#EBE9E9;
  }
  .links2{
    font-size:10 !important;
    color:black;
    background-color:#EBE9E9;
  }

 .form{
    padding:0%;
 }

 .box{
 background-color:#EBE9E9;
 padding:30px;
 }

 #sign{
    font-size:18px;
    font-weight: bold;
 }
 #email{
    font-size:12px;
 }
 .security{
    font: size 10px;
    justify-content: space-evenly;
 }

 #filter{
   display: flex;
   justify-content: flex-end;
    width:150px;
    height:40px;
    background-color:#EFEFEF;
 }
 #dress{
    color:black;
    font-size: 30px;
    margin: auto;
    font-size:30;
    font-family: 'Italiana', serif;
    }
    
.pic1{
   height:24px;
   width: 270px;
}